.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.controls {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.canvas {
	background: rgb(220, 220, 220);
}